h1{
color:rgb(8, 7, 7)
}

header::after{
    content: '';
    display: table;
    clear: both;

}

main{
    min-height: calc(100vh - 50px - 58px);
}

body{
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;    
}

input{
    color: rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 28px;
}


p{
    margin-top: 38px;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 28px;
    font-size: small;
    color: #222;
}



footer{
    display:grid;
    background-color:#f2f2f2;
    padding-bottom: 18px ;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.nav{
    color: darkblue;
    display: inline;
    float: right;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;

}

.nav-control{
    display: inline;
    float: right;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.down-box{
    color: darkblue;
}

.buttons{
display:inline-block;
position: relative;
margin-top: 28px;
margin-left: 15px;
left: 44%;
transform: translateX(-50%);
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

#text1{
padding: 10px;
padding-left: 40px;
box-sizing: 5px ;
border-radius: 20px;
box-shadow:0px 0px 1px 1px rgba(0,0,0,0.06);
border-color:rgba(136, 136, 136, 0.233);

}

#search{
    color: gray;
    position: absolute;
    left: 395px;
    top: 185px;
    font-size: 24px;


}

#keyboard{
    color: gray;
    position: absolute;
    top: 185px;
    right: 400px;
    font-size: 24px;
}






.left-footer{
    display: inline;
    float: left;
    margin-right: 18px;

}

.right-footer{
    display: inline;
    float: right;
    margin-right: 25px;
   
    

}

.right-footer-container{
    margin-right: 50px;

}

.footer-text{
    color: rgb(44, 44, 44);
}





  
