h1{
color:rgb(8, 7, 7)
}

header::after{
    content: '';
    display: table;
    clear: both;
}

main{
    min-height: calc(100vh - 50px - 58px);
}

body{
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;    
}

input{
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: inherit;
    margin-top: 28px;
}

p{
    position: static;
    margin-top: 38px;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 28px;
    font-size: small;
    color: #222;
}

footer{
    display:grid;
    background-color:#f2f2f2;
    padding-bottom: 18px ;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

  a{
    text-decoration: none;
    color: rgb(44, 44, 44); 
  }

  a:visited {
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
}

.nav-control{
    display: inline;
    float: right;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 5px;
    color: rgb(44, 44, 44);
}

.nav-control:hover{
    color: rgb(44, 44, 44);
}

.nav-container{
margin-right: 95px;
}

.grid-image{
   position: absolute;
   bottom:583px;
   right: 4%;
}

.photo-image{
    position: absolute;
    bottom:573px;
    right: 1%;
}

.down-box{
    color: darkblue;
}

.buttons{
display:inline-block;
position: relative;
margin-top: 28px;
margin-left: 15px;
left: 44%;
transform: translateX(-50%);
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background-color: #f2f2f2;
padding: 8px 16px;
border-radius: 4px;
border: ridge 1px transparent;
}

.buttons:hover{
    border: 1px;
    border-radius: 4px;
    border-style:ridge;
    border-color: rgba(80, 76, 76, 0.678);
    padding: 8px 16px;        
}

#text1{
padding: 10px;
padding-left: 40px;
padding-right: 40px;
box-sizing: 5px;
border: 1px solid rgba(128, 128, 128, 0.336) ;
border-radius: 20px;
box-shadow:0px 0px 1px 1px rgba(0,0,0,0.06);
background-image: url(/Images/searchbar.png), url("/Images/keyboard.png");
position:left;
background-size: 35px;
background-repeat:no-repeat,no-repeat;
background-position: 11px -3px,533px;
outline: none;
}

#text1:focus{

padding: 10px;
padding-left: 40px;
padding-right: 40px;
border: 1px solid rgba(128, 128, 128, 0.336) ;
box-shadow: 0px 2px 2px 2px rgba(43, 42, 42, 0.212);
}

#text1:hover{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgba(128, 128, 128, 0.336) ;
    box-shadow: 0px 2px 2px 2px rgba(43, 42, 42, 0.212);;
}

.left-footer{
    display: inline;
    float: left;
    margin-right: 18px;
}

.right-footer{
    display: inline;
    float: right;
    margin-right: 25px;
}

.right-footer-container{
    margin-right: 50px;
}

.footer-text{
    color: rgb(44, 44, 44);
}





  
